{% extends '@EasyAdmin/default/list.html.twig' %}

{% block new_action %}
    <li>
        <a class="nav-link {% if app.request.get('action')=='new' %}active{% endif %}" id="v-pills-2-tab" data-toggle="modal" data-target="#modalUser" style="cursor: pointer;">
            {# {% if _action.icon %}<i class="icon icon-plus-circle"></i>{% endif %} #}
            <i class="icon icon-plus"></i>
            {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
        </a>
    </li>
    <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'Select user type'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-primary btn-block" href="{{ path('easyadmin', { 'entity': 'Provider', 'action': 'new', 'from': 'User' }) }}" role="button">{{ 'Provider'|trans }}</a>
                        <a class="btn btn-primary btn-block" href="{{ path('easyadmin', { 'entity': 'Client', 'action': 'new', 'from': 'User'}) }}" role="button">{{ 'Client'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
            </div>
        </div>
    </div>
{% endblock new_action %}

{% block wrapper %}
    {% block main %}

        {% set _fields_visible_by_user = fields|filter((metadata, field) => easyadmin_is_granted(metadata.permission)) %}
        {% set _number_of_hidden_results = 0 %}
        {% set _list_item_actions = easyadmin_get_actions_for_list_item(_entity_config.name) %}
        <div class="container-fluid animatedParent animateOnce">
            <div class="tab-content my-3" id="v-pills-tabContent">
            
                <div class="tab-pane animated fadeInUpShort go active show" id="v-pills-sellers" role="tabpanel" aria-labelledby="v-pills-sellers-tab">

                    <div class="row">
                        {% for item in paginator.currentPageResults %}
                            {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
                            <div class="col-md-4 mb-4">
                                <div class="card no-b shadow">
                                    <div class="p-3">
                                        <div class="float-right">
                                            {% if _list_item_actions|length > 0 %}
                                                {% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') %}
                                                    {% block item_actions %}
                                                        {% set _actions_template = _entity_config.list.collapse_actions
                                                            ? '@EasyAdmin/default/includes/_actions_dropdown.html.twig'
                                                            : '@EasyAdmin/default/includes/_actions.html.twig'
                                                        %}
                                                        {{ include(_actions_template, {
                                                            actions: _list_item_actions,
                                                            entity_config: _entity_config,
                                                            request_parameters: _request_parameters,
                                                            translation_domain: _entity_config.translation_domain,
                                                            trans_parameters: _trans_parameters,
                                                            item_id: _item_id,
                                                            item: item
                                                        }, with_context = false) }}
                                                    {% endblock item_actions %}
                                            {% endif %}
                                        </div>
                                        <div class="image mr-3  float-left">
                                            {% if item.image is defined %}
                                                {% if not item.image is null %}
                                                    <img class="user_avatar no-p" src="{{asset('uploads/images/user/'~item.image)}}" alt="">
                                                {% else %}
                                                    <img class="user_avatar no-p" src="{{asset('img/avatar.jpg')}}" />

                                                {% endif %}
                                            {% else %}
                                                <img class="user_avatar no-b no-p r-5" src="{{asset('img/avatar.jpg')}}" />
                                            {% endif %}
                                        </div>
                                        <div>
                                            <h6 class="p-t-10 avatar-name ">
                                                {% if item.companyName is defined %}
                                                    {{item.companyName}}
                                                {% else %}
                                                    {{item.username}}
                                                {% endif %}
                                            </h6>
                                            {% if item.email is defined %}
                                                {{item.email}}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>    
        </div>
    {% endblock %}
    {% block content_footer %}
        {% block paginator %}
            {{ include(_entity_config.templates.paginator) }}
        {% endblock paginator %}
    {% endblock %}
{% endblock %}