{% extends 'base.html.twig' %}

{% block title %}{% trans %}Log in{% endtrans %}{% endblock %}

{% block body %}
{# <h3>{% trans %}Welcome{% endtrans %}</h3> #}
<form method="post" class="form-init">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    {# <h1 class="h3 mb-3 font-weight-normal">{% trans %}Please sign in{% endtrans %}</h1> #}
    <div class="form-group has-icon"><i class="icon-envelope-o"></i>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" required autofocus
            placeholder="{% trans %}Email{% endtrans %}">
    </div>
    <div class="form-group has-icon"><i class="icon-user-secret"></i>
        <input id="password-field" type="password" name="password" id="inputPassword" class="form-control form-control-lg" required
            placeholder="{% trans %}Password{% endtrans %}">
        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div>

    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
    |#}
    
    <div align="right" class="checkbox mt-3">
        <label>
           <strong><a class="link-remember-me" href="{{ path('app_reset_pass') }}"> {% trans %}Remember me{% endtrans %}</strong> 
        </label>
    </div>

    <button class="btn btn-primary btn-lg btn-block mt-lg-5" type="submit">
        {% trans %}Enter{% endtrans %}
    </button>
    {# <p><a href="#">{% trans %}Did you forget your password?{% endtrans %}</a></p> #}
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(".toggle-password").click(function() {

        $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>
{% endblock %}
