{% extends 'base.html.twig' %}

{% block title %}{% trans %}Sign in{% endtrans %}{% endblock %}

{% block body %}
    <h3>{% trans %}Register as a Provider{% endtrans %}</h3>

    {{ form_start(form, {'attr': {'class': 'form-init'}}) }}
        <div class="form-group has-icon focused"><i class="icon-envelope-o"></i>
            {{ form_widget(form.companyName) }}
            {{ form_errors(form.companyName) }}
        </div>
        <div class="form-group has-icon"><i class="icon-envelope-o"></i>
            {{ form_widget(form.cif) }}
            {{ form_errors(form.companyName) }}
        </div>
        <div class="form-group has-icon"><i class="icon-envelope-o"></i>
            {{ form_widget(form.billingAddress) }}
            {{ form_errors(form.companyName) }}
        </div>
        <div class="form-group has-icon"><i class="icon-envelope-o"></i>
            {{ form_widget(form.phone) }}
            {{ form_errors(form.companyName) }}
        </div>
        <div class="form-group has-icon"><i class="icon-envelope-o"></i>
            {{ form_widget(form.email) }}
            {{ form_errors(form.companyName) }}
        </div>
        <div class="form-group has-icon"><i class="icon-user-secret"></i>
            {{ form_widget(form.password.first) }}
            {{ form_errors(form.password.first) }}
            <span toggle="#user_password_first" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
        <div class="form-group has-icon"><i class="icon-user-secret"></i>
            {{ form_widget(form.password.second) }}
            {{ form_errors(form.password.second) }}
            <span toggle="#user_password_second" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
        <div class="form-group has-icon">
            {{ form_label(form.plan) }}<i class="icon-envelope-o"></i>
            {{ form_widget(form.plan) }}
            {{ form_errors(form.plan) }}
        </div>

        <button class="btn btn-primary btn-lg btn-block mt-lg-5" type="submit">
            {% trans %}Sign in{% endtrans %}
        </button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(".toggle-password").click(function() {

        $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $(".toggle-password-repeat").click(function() {

        $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>
{% endblock %}
