{% extends 'base.html.twig' %}

{% block title %}{% trans %}Remember me{% endtrans %}{% endblock %}

{% block body %}
<h3>{% trans %}Remember me{% endtrans %}</h3>
<p>Introduce tu correo electrónico y te enviaremos un email.<span>

<div class="form-init">
{{ form_start(form) }}

    <div class="form-group has-icon"><i class="icon-envelope-o"></i>
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>

    <button class="btn btn-primary btn-lg btn-block mt-lg-5" type="submit">
        {% trans %}Send{% endtrans %}
    </button>
{{ form_end(form) }}
</div>

{% endblock %}
