{% extends 'base.html.twig' %}

{% block title %}{% trans %}Remember me{% endtrans %}{% endblock %}

{% block body %}
<h3>{% trans %}New password{% endtrans %}</h3>

<div class="form-init">
{{ form_start(form) }}

    <div class="form-group has-icon"><i class="icon-envelope-o"></i>
        {{ form_widget(form.password.first) }}
        {{ form_errors(form.password.first) }}
    </div>
    <div class="form-group has-icon"><i class="icon-envelope-o"></i>
        {{ form_widget(form.password.second) }}
        {{ form_errors(form.password.second) }}
    </div>

    <button class="btn btn-warning btn-lg btn-block mt-lg-5" type="submit">
        {% trans %}Change{% endtrans %}
    </button>
{{ form_end(form) }}
</div>

{% endblock %}
