{% extends '@EasyAdmin/page/blank.html.twig' %}

{% block content %}

    <div class="row justify-content-md-center mt-5">
        <div class="col-lg-8"> 
            <div class="card text-center">
                <div class="card-header">
                    Importar Archivo
                </div>
                <div class="card-body">
                    <h5 class="card-title">Provincias y Estados</h5>
                    <p class="card-text">
                        El formato a importar debe seguir el mismo formato del archivo exportado (xls) según la ciudad que corresponda, o puede no obtener los resultados esperados.
                    </p>
                    {{ form_start(import_form) }}
                        {% if not import_form.vars.valid %}
                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">{{ form_errors(import_form.file) }}<h4>
                        </div>
                        {% endif %}
                        {{ form_label(import_form.file) }}
                        {{ form_widget(import_form.file) }}
                        {{ form(import_form) }}
                    {{ form_end(import_form) }}
                </div>
            </div>
        </div>
    </div>    
    
{% endblock content %}