{% extends '@EasyAdmin/default/list.html.twig' %}

{% block new_action %}
    <div class="button-action">
        <a class="{{ _action.css_class|default('') }}" href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}" target="{{ _action.target }}">
            {% if _action.icon %}<i class="fa fa-fw fa-{{ _action.icon }}"></i>{% endif %}
            {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
        </a>
        <a class="btn btn-warning action-new" href="{{ path('api_clients_get_collection') }}" target="#">
            <i class="fa fa-fw fa-print"></i>
            Importar Excel
        </a>
    </div>
{% endblock new_action %}