{% extends '@EasyAdmin/default/list.html.twig' %}

{% block wrapper %}
    {% block main %}
        {% set _fields_visible_by_user = fields|filter((metadata, field) => easyadmin_is_granted(metadata.permission)) %}
        {% set _number_of_hidden_results = 0 %}
        {% set _list_item_actions = easyadmin_get_actions_for_list_item(_entity_config.name) %}
        <div class="container-fluid animatedParent animateOnce">
            <div class="tab-content my-3" id="v-pills-tabContent">
                <div class="tab-pane animated fadeInUpShort go active show" id="v-pills-sellers" role="tabpanel" aria-labelledby="v-pills-sellers-tab">
                    <div class="row">
                        {% for item in paginator.currentPageResults %}
                            {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
                            <div class="col-md-3 mb-3">
                                <div class="float-top text-right">
                                    {% if _list_item_actions|length > 0 %}
                                        {% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') %}
                                            {% block item_actions %}
                                                {% set _actions_template = _entity_config.list.collapse_actions
                                                    ? '@EasyAdmin/default/includes/_actions_dropdown.html.twig'
                                                    : '@EasyAdmin/default/includes/_actions.html.twig'
                                                %}
                                                {{ include(_actions_template, {
                                                    actions: _list_item_actions,
                                                    entity_config: _entity_config,
                                                    request_parameters: _request_parameters,
                                                    translation_domain: _entity_config.translation_domain,
                                                    trans_parameters: _trans_parameters,
                                                    item_id: _item_id,
                                                    item: item
                                                }, with_context = false) }}
                                            {% endblock item_actions %}
                                    {% endif %}
                                </div>
                                <div class="card 
                                    text-white text-left p-3  no-b shadow"
                                    style="background-color:
                                    {% if not item.color is empty %}
                                        #{{item.color}};
                                    {% elseif item.name =='Plan Enterprise' %}
                                        #2a5ada;
                                    {% elseif item.name =='Plan Pro' %}
                                        #5fc9f3;
                                    {% elseif item.name =='Plan Starter' %}
                                        #5fd989;
                                    {% elseif  item.name =='Plan Prueba' %}
                                        #fed869;
                                    {% endif %}
                                    "
                                    >
                                    <div>
                                        <h6 class="p-t-10 avatar-name ">
                                            {{item.name}}
                                            <div class="float-right">
                                                <div class="s-24 icon-star" style="color:white;"></div>
                                            </div>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>    
        </div>
    {% endblock %}
{% endblock %}