<div>
    <div class="image mr-3  float-left">
        {% if item.image is defined %}
            {% if not item.image is null %}
                <img class="user_avatar no-p" src="{{asset('uploads/images/user/'~item.image)}}" alt="">
            {% else %}
                <img class="user_avatar no-p" src="{{asset('img/avatar.jpg')}}" />
    
            {% endif %}
        {% else %}
            <img class="user_avatar no-b no-p r-5" src="{{asset('img/avatar.jpg')}}" />
        {% endif %}
    </div>
    <div>
        <h6 class="p-t-10 avatar-name ">
            {% if item.companyName is defined %}
                {{item.companyName}}
            {% else %}
                {{item.username}}
            {% endif %}
        </h6>
        {% if item.email is defined %}
            {{item.email}}
        {% endif %}
    </div>
</div>
