{% extends '@EasyAdmin/page/blank.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800' rel='stylesheet'>
    <style rel="stylesheet">
        * {
            font-family: 'Montserrat', sans-serif !important;
        }

        li {
            padding: 10px;
        }

        i {
            font-size: 18px;
            background-repeat: no-repeat !important;
        }

        .icon-form {
            padding-left: 24px !important;
            padding-bottom: 5px !important;
            padding-top: 5px !important;
        }
        
        label {
            font-weight: normal !important;
            font-size: 14px !important;
            text-transform: uppercase !important;
            text-align: left !important;
            padding-left: 20px !important;
            padding-top: 20px !important;
            color: #3F3F3F !important;
        }
        
        .input-piola {
            font-weight: 200 !important;
            background-color: #fff !important;
            border: 2px solid #E9EEF4 !important;
            border-radius: 0px !important;
            padding-left: 40px !important;
            height: 45px !important;
            color: #000 !important;
        }

        .input-piola:focus {
            border: 2px solid #09D888 !important;
            -webkit-transition: 0.8s !important;
            transition: 0.8s !important;
            outline: none !important;
        }

        .card-title {
            font-size: 20px;
            color: black;
        }

        .card-header {
            padding: 1.75rem 1.25rem !important;
            font-size: 20px;
            text-transform: uppercase;
        }

        .card-piola {
            background-color: white; /* Green */
            border: none;
            color: black;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }
        .card-yellow:hover {
            background-color: white; 
            color: black; 
            border: 1.5px solid #FED869;
            margin-top: -2px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius:  5px;
        }
        .card-green:hover {
            background-color: white; 
            color: black; 
            border: 1.5px solid #09D888;
            margin-top: -2px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius:  5px;
        }
        .card-sky:hover {
            background-color: white; 
            color: black; 
            border: 1.5px solid #5FC9F3;
            margin-top: -2px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius:  5px;
        }
        .card-blue:hover {
            background-color: white; 
            color: black; 
            border: 1.5px solid #1A77D2;
            margin-top: -2px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius:  5px;
        }
        .card-blue a:active {
            background-color: white; 
            color: black; 
            border: 1.5px solid #1A77D2;
            margin-top: -2px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius:  5px;
        }
        .bg-yellow {
            background-color: #FED869;
            color: white;
        }
        .bg-green {
            background-color: #09D888;
            color: white;
        }
        .bg-sky {
            background-color: #5FC9F3;
            color: white;
        }
        .bg-blue {
            background-color: #1A77D2;
            color: white;
        }

    </style>
{% endblock %}

{% block global_actions %}
<li>
    <a class="nav-link "id="v-pills--tab" href="{{ path('easyadmin', {entity: 'Provider', action: 'info'} ) }}" target="_self">
        <i class="fa-icon_proveedores_off icon-form"></i> Información
    </a>
</li>
<li>
    <a class="nav-link "id="v-pills--tab" href="#" target="_self">
        <i class="fas fa-user-circle"></i> Clientes
    </a>
</li>
<li>
    <a class="nav-link "id="v-pills--tab" href="#" target="_self">
        <i class="fas fa-dumpster"></i> Pedidos
    </a>
</li>
<li>
    <a class="nav-link "id="v-pills--tab" href="#" target="_self">
        <i class="fas fa-apple-alt"></i> Productos
    </a>
</li>
<li>
    <a class="nav-link "id="v-pills--tab" href="{{ path('easyadmin', {entity: 'Provider', action: 'edit'} ) }}" target="_self">
        <i class="fa fa-fw fa-cog"></i> Editar
    </a>
</li>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {# {{ form(form) }} #}
<div class="row justify-content-md-center mt-5">
    <div class="col-lg-12"> 
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{% trans %}provider_ea.show.about{% endtrans %}</h2>
                <div class="row pl-4 mb-5">
                    <div class="col-lg-5">
                        {# Agrego Label porque esta desactivado en el type #}
                        <label>{% trans %}provider_ea.show.companyName{% endtrans %}</label>
                        {{ form_widget(form.companyName) }}
                        <label>{% trans %}provider_ea.show.billingAddress{% endtrans %}</label>
                        {{ form_widget(form.billingAddress) }}
                        <label>{% trans %}provider_ea.show.phone{% endtrans %}</label>
                        {{ form_widget(form.phone) }}
                        <label>{% trans %}provider_ea.show.openHours{% endtrans %}</label>
                        {{ form_widget(form.openHours) }}
                        <label>{% trans %}provider_ea.show.deliveryTime{% endtrans %}</label>
                        {{ form_widget(form.deliveryTime) }}
                    </div>
                    <div class="col-lg-5">
                        <label>{% trans %}provider_ea.show.show{% endtrans %}</label>
                        {{ form_widget(form.cif) }}
                        <label>{% trans %}provider_ea.show.email{% endtrans %}</label>
                        {{ form_widget(form.email) }}
                        <label>{% trans %}provider_ea.show.mobile{% endtrans %}</label>
                        {{ form_widget(form.mobile) }}
                        {# <label class="text-left mt-4 mb-2 pl-4"><h5>{% trans %}provider_ea.show.openHours{% endtrans %}</h5></label>
                        {{ form_widget(form.openHours) }} #}
                        <label>{% trans %}provider_ea.show.enabled{% endtrans %}</label>
                        {{ form_widget(form.enabled) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    

{# <div class="row justify-content-md-center mt-5">
    <div class="col-lg-12"> 
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{% trans %}provider_ea.show.plan{% endtrans %}</h2>
                <div class="row pl-4">
                    <div class="col-lg-6">
                        <div class="row mt-4">
                            <div class="col-sm-6">
                                <label>{% trans %}plan_ea.show.name{% endtrans %}</label>
                            </div>
                            <div class="col-sm-6"><h4 class="text-success">{{ entity.plan.name|upper }}</h4></div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-6">
                                <label>{% trans %}plan_ea.show.extendDays{% endtrans %}</label>
                            </div>
                            <div class="col-sm-6"><h4>{{ entity.plan.extendDays }}</h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   #}

<div class="row justify-content-md-center mt-5">
    <div class="col-lg-12"> 
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{% trans %}Planes{% endtrans %}</h2>
                <div class="row pl-3 mt-5">
                    <div class="col-lg-3">
                        <div class="card border-light mb-3" style="max-width: 18rem; min-height: 15rem;">
                            <div class="card-header bg-yellow">Prueba <i class="fa fa-fw fa-star float-right mt-1"></i></div>
                            <button class="card-body card-piola card-yellow">
                                <p class="card-text text-left">15 días gratis</p>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card border-light mb-3" style="max-width: 18rem; min-height: 15rem;">
                            <div class="card-header bg-green">Starter <i class="fa fa-fw fa-star float-right mt-1"></i></div>
                            <button class="card-body card-piola card-green">
                                <p class="card-text text-left">1 a 5 usuarios</p>
                                <p class="card-text text-left">200 referencias</p>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card border-light mb-3" style="max-width: 18rem; min-height: 15rem;">
                            <div class="card-header bg-sky" style="background-color: #5FC9F3;">Pro <i class="fa fa-fw fa-star float-right mt-1"></i></div>
                            <button class="card-body card-piola card-sky">
                                <p class="card-text text-left">5 a 10 usuarios</p>
                                <p class="card-text text-left">500 referencias</p>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card border-light mb-3" style="max-width: 18rem; min-height: 15rem;">
                            <div class="card-header bg-blue">Enterprice <i class="fa fa-fw fa-star float-right mt-1"></i></div>
                            <a class="card-body card-piola card-blue">
                                <p class="card-text text-left">?</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  

{{ form_end(form) }}
{% endblock %}