{% extends '@EasyAdmin/form/bootstrap_4.html.twig' %}

{% block _provider_openHours_entry_widget %}
    {% set remove_item_javascript %}
        $(function() {
            event.preventDefault();

            var containerDiv = $('#{{ id }}').parents('.form-group:first');
            var parentDiv = containerDiv.parents('[data-prototype]:first');
            containerDiv.remove();
            parentDiv.trigger('easyadmin.collection.item-deleted');

            var hasCountAttr = parentDiv.data('count');

            if (hasCountAttr === undefined) {
                var numItems = parentDiv.children('div.form-group').length;
                parentDiv.data('count', ++numItems)
            }

            if (0 == parentDiv.children().length && 'undefined' !== parentDiv.attr('data-empty-collection')) {
                $(parentDiv.attr('data-empty-collection')).insertBefore(parentDiv);
            }
        });
    {% endset %}
    <div id="{{ id }}" class="field-collection-item-row row">
        <div class="col">
            {{ form_row(form.day) }}
        </div>
        <div class="col">
            {{ form_row(form.startTime) }}
        </div>
        <div class="col">
            {{ form_row(form.endTime) }}
        </div>
        <div class="col">
            <br>
            <a class="field-collection-item-action" id="easyadmin-remove-collection-item-{{ form.vars.id }}" href="#" onclick="{{ remove_item_javascript|raw }}; return false;" title="{{ 'action.remove_item'|trans({}, 'EasyAdminBundle') }}">
                &times;
            </a>
        </div>
    </div>
{% endblock %}
