{% extends '@EasyAdmin/page/blank.html.twig' %}

{% block global_actions %}
<li>
    <a class="nav-link "id="v-pills--tab" href="{{ path('easyadmin', {entity: 'Provider', action: 'info'} ) }}" target="_self">
        <i class="fa-icon_proveedores_off icon-form"></i>Información
    </a>
</li>
<li>
    <a class="nav-link "id="v-pills--tab" href="#" target="_self">
        <i class="fa-icon_clientes_off icon-form"></i>Clientes
    </a>
</li>
<li>
    <a class="nav-link "id="v-pills--tab" href="#" target="_self">
        <i class="fa-icon_pedidos_off icon-form"></i>Pedidos
    </a>
</li>
<li>
    <a class="nav-link "id="v-pills--tab" href="#" target="_self">
        <i class="fa fa-fw fa-apple"></i> Productos
    </a>
</li>
<li>
    <a class="nav-link "id="v-pills--tab" href="{{ path('easyadmin', {entity: 'Provider', action: 'edit'} ) }}" target="_self">
        <i class="fa fa-fw fa-cog"></i> Editar
    </a>
</li>
{% endblock %}

{% block content %}

    <div class="row justify-content-md-center mt-5">
        <div class="col-lg-12"> 
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{% trans %}provider_ea.show.about{% endtrans %}</h2>
                    <div class="row pl-4">
                        <div class="col-lg-6">
                            <div class="row mt-4">
                                <div class="col-sm-6"><h6><strong>{% trans %}provider_ea.show.companyName{% endtrans %}</strong></h6></div>
                                <div class="col-sm-6"><h4>{{ entity.companyName }}</h4></div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6"><h6><strong>{% trans %}provider_ea.show.email{% endtrans %}</strong></h6></div>
                                <div class="col-sm-6"><h4>{{ entity.email }}</h4></div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6"><h6><strong>{% trans %}provider_ea.show.mobile{% endtrans %}</strong></h6></div>
                                <div class="col-sm-6"><h4>{{ entity.mobile }}</h4></div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6"><h6><strong>{% trans %}provider_ea.show.openHours{% endtrans %}</strong></h6></div>
                                {# <div class="col-sm-6"><h4>{{ entity.openHours }}</h4></div> #}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row mt-4">
                                <div class="col-sm-6"><h6><strong>{% trans %}provider_ea.show.cif{% endtrans %}</strong></h6></div>
                                <div class="col-sm-6"><h4>{{ entity.cif }}</h4></div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6"><h6><strong>{% trans %}provider_ea.show.billingAddress{% endtrans %}</strong></h6></div>
                                <div class="col-sm-6"><h4>{{ entity.billingAddress }}</h4></div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6"><h6><strong>{% trans %}provider_ea.show.phone{% endtrans %}</strong></h6></div>
                                <div class="col-sm-6"><h4>{{ entity.phone }}</h4></div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6"><h6><strong>{% trans %}provider_ea.show.deliveryTime{% endtrans %}</strong></h6></div>
                                <div class="col-sm-6"><h4>{{ entity.deliveryTime }}</h4></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <div class="row justify-content-md-center mt-5">
        <div class="col-lg-12"> 
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{% trans %}provider_ea.show.plan{% endtrans %}</h2>
                    <div class="row pl-4">
                        <div class="col-lg-6">
                            <div class="row mt-4">
                                <div class="col-sm-6"><h6><strong>{% trans %}plan_ea.show.name{% endtrans %}</strong></h6></div>
                                <div class="col-sm-6"><h4 class="text-success">{{ entity.plan.name|upper }}</h4></div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6"><h6><strong>{% trans %}plan_ea.show.extendDays{% endtrans %}</strong></h6></div>
                                <div class="col-sm-6"><h4>{{ entity.plan.extendDays }}</h4></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    
{% endblock content %}