{% extends '@EasyAdmin/default/new.html.twig' %}

{% block global_actions %}
<li>
    <a class="nav-link "id="v-pills--tab" href="{{ path('provider_info') }}" target="_self">
        <i class="fa-icon_proveedores_off icon-form"></i>Información
    </a>
</li>
<li>
    <a class="nav-link "id="v-pills--tab" href="#" target="_self">
        <i class="fa-icon_clientes_off icon-form"></i>Clientes
    </a>
</li>
<li>
    <a class="nav-link "id="v-pills--tab" href="#" target="_self">
        <i class="fa-icon_pedidos_off icon-form"></i>Pedidos
    </a>
</li>
<li>
    <a class="nav-link "id="v-pills--tab" href="#" target="_self">
        <i class="fa fa-fw fa-apple"></i> Productos
    </a>
</li>
<li>
    <a class="nav-link "id="v-pills--tab" href="#" target="_self">
        <i class="fa fa-fw fa-cog"></i> Editar
    </a>
</li>
{% endblock %}

{% block content_title %}
    {% apply spaceless %}
        {% set _default_title = 'edit.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
        <h3><b>{{ _entity_config.edit.title is defined ? _entity_config.edit.title|trans(_trans_parameters) : _default_title }}</b></h3>
    {% endapply %}
{% endblock %}

{% block entity_form %}
    {% form_theme form 'admin/provider/form_provider_theme.html.twig' %}
    {{ form(form) }}
{% endblock entity_form %}

{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('js/provider.js') }}"></script>
{% endblock body_javascript %}
