{% extends '@EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
	{% if easyadmin_action_is_enabled_for_list_view('new', _entity_config.name) %}
		{% set _action = easyadmin_get_action_for_list_view('new', _entity_config.name) %}
		{% block add_action %}
			<a href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}" target="{{ _action.target }}">
				{{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
			</a>
		{% endblock add_action %}
	{% endif %}
	{% block list_action %}
		<a href="{{ path('easyadmin', _request_parameters|merge({ action: 'list' })) }}">
			{{ 'List All'|trans }} {{ _entity_config.name|trans }}
		</a>
	{% endblock list_action %}
	{{ parent() }}
{% endblock %}

