.back-color-1 {
    background-color: #cacfd2;
}
.action-show i,
.action-edit i,
.action-delete i {
    color: #cacfd2;
}
.rol-user{
    color:#f6f7f7 !important;
}
.main-header {
    padding-bottom: 3%;
    padding-top: 3%;
}
.user-panel{
    background-color:#f6f7f7 !important;
}
.sidebar-menu .active{
    background-color:#f6f7f7;  
}
.menu-logout span {
    color: #cacfd2;
    font-weight: 600;
}
.btn-fab{
    background-color:#cacfd2 !important;
}

/* form .row {
  background-color:#fff !important;
} */

/* form {
  background-color:green !important;
}

fieldset {
  background-color:red !important;
} */

/* #edit-provider-form 
label {
    font-weight: bold;
    padding-left: 4%;
}

#edit-provider-form 
.form-group input[type="text"], 
.form-group input[type="email"], 
.form-group .form-widget input[type="password"], 
.form-group .form-widget input[type="number"] {
    height: 42px;
    padding-left: 8%;
    padding-bottom: 2%;
    margin-bottom: 3%;
    background-color: #FFFFFF;
    font-weight: normal;
    font-size: 14px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: none;
    box-sizing: border-box;
    box-shadow: none;
    border: 2px solid #F4F6F9;
}

#edit-provider-form 
.form-group input[type="text"]:focus, 
.form-group input[type="password"]:focus, 
.form-group input[type="email"]:focus, 
.form-group input[type="number"]:focus {
    border: 2px solid #09D888;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    outline: none;
}

#new-provider-form 
label {
    font-weight: bold;
    padding-left: 4%;
}

#new-provider-form 
.form-group input[type="text"], 
.form-group input[type="email"], 
.form-group .form-widget input[type="password"], 
.form-group .form-widget input[type="number"] {
    height: 42px;
    padding-left: 8%;
    padding-bottom: 2%;
    margin-bottom: 3%;
    background-color: #FFFFFF;
    font-weight: normal;
    font-size: 14px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: none;
    box-sizing: border-box;
    box-shadow: none;
    border: 2px solid #F4F6F9;
}

#new-provider-form
.form-group input[type="text"]:focus, 
.form-group input[type="password"]:focus, 
.form-group input[type="email"]:focus, 
.form-group input[type="number"]:focus {
    border: 2px solid #09D888;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    outline: none;
} */
