.bg-login {
  background-image: url("../img/bg-login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-primary {
  background-color: hsl(157, 92%, 44%) !important;
}
.content-wrapper .content {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.sidebar {
  padding-left: 0 !important;
}
.sidebar-menu i {
  padding-right: 15px;
  background-repeat: no-repeat;
}
.modal-backdrop{
  position:fixed;
  top:0;
  left:0;
  z-index:1040;
  width:0 !important;
  height:0 !important;
  background-color:#000
}
.form-init .form-group {
  padding: 10px 0px;
}
.btn-icon-plus {
  width: 60px;
  height: 60px;
  line-height: 60px !important;
}
.btn-icon-plus i {
  font-size: 30px !important;
}

/* .form-init .form-group input[type="email"], input[type="password"], input[type="text"], input[type="tel"], .form-init select {
  border: none;
  background: #F6F6F6;
  outline: none;
  height: 65px;
  padding-left: 10%;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.form-init .form-group input[type="email"]::placeholder, input[type="password"]::placeholder, input[type="text"]::placeholder, input[type="tel"]::placeholder {
  color: #B5B5B5;
}

.form-init input[type="checkbox"] {
  opacity: 0;
}

.form-init .checkbox {
  padding-right: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}

.form-init .checkbox label:hover {
  cursor: pointer;
}

.form-init .btn.btn-primary {
  height: 80px;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2px;
}

.form-init .field-icon {
  float: right;
  margin-left: -50px;
  position: relative;
  z-index: 2;
  color: #09D888;
  font-size: 22px;
  transform: scale(-1, 1);
} */

.link-remember-me{
  color:#404040;
  font-size: 9.8px;
}

.link-remember-me:hover{
  color:#404040;
  font-size: 9.8px;
}