<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}" dir="{{ easyadmin_config('design.rtl') ? 'rtl' : 'ltr' }}">
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="icon" type="image/png" href="/favicon.png">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">
            {# <link rel="stylesheet" href="theme/app.css"> #}
            <link rel="stylesheet" href="theme/style.css">
        {% endblock %}
    </head>
    <body class="light bg-login">
		<!-- Pre loader -->
		<div id="loader" class="loader">
			<div class="plane-container">
				<div class="preloader-wrapper small active">
					<div class="spinner-layer spinner-blue">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
					</div>

					<div class="spinner-layer spinner-red">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
					</div>

					<div class="spinner-layer spinner-yellow">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
					</div>

					<div class="spinner-layer spinner-green">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div id="app">
			<div class="page parallel height-full">
				<div class="d-flex justify-content-center">
					<div class="col-md-6 white">
						<div class="p-5 mt-5">
							<img src="/img/logo-login.png" alt="Piola" class="mx-auto d-block" />
						</div>
						<div class="p-5">
							{% for label, messages in app.flashes %}
								{% for message in messages %}
									<div class="alert alert-{{ label }}">
										{{ message }}
									</div>
								{% endfor %}
							{% endfor %}

							{% block body %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
        {% block javascripts %}
			<script src="theme/app.js"></script>
        {% endblock %}
    </body>
</html>
