{% extends '@!EasyAdmin/default/layout.html.twig' %}

{% block head_custom_stylesheets %}
    <style>
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #F5F8FA;
            z-index: 9998;
            text-align: center;
        }

        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>

    {{ parent() }}

    {% if is_granted('ROLE_PROVIDER') and not is_granted('ROLE_ADMIN') %}
        <link rel="stylesheet" href="/theme/app_provider.css">
    {% elseif is_granted('ROLE_ADMIN') %}
        <link rel="stylesheet" href="/theme/app_admin.css">
    {% endif %}
{% endblock %}

{% block body %}
    <body id="{% block body_id %}{% endblock %}" class="easyadmin light {% block body_class %}{% endblock %}">
        <script>
            document.body.classList.add(
                'easyadmin-content-width-' + (localStorage.getItem('easyadmin/content/width') || 'normal'),
                'easyadmin-sidebar-width-' + (localStorage.getItem('easyadmin/sidebar/width') || 'normal')
            );
        </script>
        <!-- Pre loader -->
        <div id="loader" class="loader">
            <div class="plane-container">
                <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="app">
        {% block wrapper_wrapper %}
            <aside class="main-sidebar fixed offcanvas shadow" data-toggle='offcanvas'>
                <section class="sidebar">
                {% block sidebar %}
                    <div class="h-20 mt-1 mb-1 ml-1">
                        <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">
                            {{ easyadmin_config('site_name')|raw }}
                        </a>
                    </div>

                    {% set _user_name = easyadmin_read_property(app.user, easyadmin_config('user.name_property_path'))|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) %}
                    {% set _logout_path = easyadmin_logout_path() %}
                    {% set _user_has_logout = _logout_path is not empty %}
                    {% set _user_is_impersonated = is_granted('ROLE_PREVIOUS_ADMIN') %}

                    <div class="relative">
                        <a href="{{path('easyadmin',{'action':'list', 'entity':'Setting'})}}" role="button" aria-expanded="false"
                            class="btn-fab btn-fab-sm absolute fab-right-bottom fab-top btn-primary shadow1">
                            <i class="icon icon-cogs"></i>
                        </a>
                        <div class="user-panel p-3 light mb-2" >
                            <div>
                                <div class="float-left image">
                                    {% if  not app.user.image is empty %}
                                        <img class="user_avatar" src="{{asset('uploads/images/user/'~app.user.image)}}" />
                                    {% else %}
                                        <img class="user_avatar" src="{{asset('img/avatar.jpg')}}" />
                                    {% endif %}
                                </div>
                                <div class="float-left info">
                                    <h6 class="avatar-name mt-2 mb-1">
                                        <strong> 
                                            {% if app.user.companyName is defined %}
                                                {{app.user.companyName}}
                                            {% else %}
                                                {{app.user.username}}
                                            {% endif %}
                                    </strong>
                                    </h6>
                                    {% if is_granted('ROLE_CLIENT') and not is_granted('ROLE_PROVIDER') %}
                                        <strong><a href="#" class="rol-user avatar-role"> {{'menu.client'|trans}} </a></strong> 
                                    {% elseif  is_granted('ROLE_PROVIDER') and not is_granted('ROLE_ADMIN') %}
                                        <strong><a href="#" class="rol-user avatar-role"> {{'menu.provider'|trans}} </a></strong>
                                    {% else %}
                                        <strong><a href="#" class="rol-user avatar-role"> {{'menu.admin'|trans}} </a></strong>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="collapse multi-collapse" id="userSettingsCollapse">
                                <div class="list-group mt-3 shadow">
                                {% block user_menu %}
                                    {% if _user_has_logout or _user_is_impersonated %}
                                            {% if _user_has_logout %}
                                                <a class="list-group-item list-group-item-action user-action user-action-logout" href="{{ _logout_path }}">{{ 'user.signout'|trans(domain = 'EasyAdminBundle') }}</a>
                                            {% endif %}
                                            {% if _user_is_impersonated %}
                                                <a class="list-group-item list-group-item-action user-action user-action-exit-impersonation" href="?_switch_user=_exit">{{ 'user.exit_impersonation'|trans(domain = 'EasyAdminBundle') }}</a>
                                            {% endif %}
                                    {% endif %}
                                {% endblock user_menu %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {# Muestro el usuer#}
                    {{ parent() }}

                {% endblock sidebar %}
                </section>
            </aside>
            <div class="has-sidebar-left">
                <div class="pos-f-t">
                    <div class="collapse" id="navbarToggleExternalContent">
                        <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
                            <div class="search-bar">
                                <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text"
                                    placeholder="start typing...">
                            </div>
                            <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false"
                            aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
                        </div>
                    </div>
                </div>
                <div class="sticky">
                    <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar back-color-1 accent-3">
                        <div class="relative">
                            <a href="#" data-toggle="push-menu" class="paper-nav-toggle pp-nav-toggle">
                                <i></i>
                            </a>
                        </div>
                        <!--Top Menu Start -->
                        <div class="navbar-custom-menu">
                        </div>
                    </div>
                </div>
            </div>
            <div class="page has-sidebar-left height-full">
                <header class="back-color-1 accent-3 relative nav-sticky">
                    <div class="container-fluid text-white">
                        {% if app.request.query.has('entity') %}
                            <div class="row p-t-b-10 ">
                                <div class="col" style="padding-left: 5%;">
                                    <!-- para mostrar el nombre de la entidad sobre la cual estoy parado -->
                                    <h4>
                                        <i class="icon-box"></i>

                                        {% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
                                        {% trans_default_domain _entity_config.translation_domain %}
                                        {% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans } %}
                                        {% set _request_parameters = app.request.query.all|merge(_request_parameters|default({}))|merge({
                                            action: app.request.get('action'),
                                            entity: _entity_config.name,
                                            menuIndex: app.request.get('menuIndex'),
                                            submenuIndex: app.request.get('submenuIndex'),
                                            sortField: app.request.get('sortField'),
                                            sortDirection: app.request.get('sortDirection'),
                                            page: app.request.get('page', 1),
                                            filters: app.request.get('filters', []),
                                            referer: null
                                        }) %}

                                        {% apply spaceless %}
                                            {% if 'search' == app.request.get('action') %}
                                                {% set _default_title = 'search.page_title'|transchoice(paginator.nbResults, {}, 'EasyAdminBundle') %}
                                                {{ (_entity_config.search.title is defined ? _entity_config.search.title|transchoice(paginator.nbResults) : _default_title)|raw }}
                                            {% else %}
                                                {% set _default_title = 'list.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
                                                {{ (_entity_config.list.title is defined ? _entity_config.list.title|trans(_trans_parameters) : _default_title)|raw }}
                                            {% endif %}
                                        {% endapply %}
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                          
                                {# acciones para el show de la entidad #}
                                <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                                    {# {% block submenu_new_action %}
                                    {% endblock submenu_new_action %} #}
                                    {% block global_actions_wrapper %}
                                        <div class="global-actions">{% block global_actions %}{% endblock %}</div>
                                    {% endblock %}
                                    {% if
                                        app.request.get('action') == "show" or
                                        app.request.get('action') == "edit" or
                                        app.request.get('action') == "new"
                                    %}
                                        {% set actions = easyadmin_get_actions_for_show_item(_entity_config.name) %}
                                        {% set _entity_id = '' ~ attribute(entity, _entity_config.primary_key_field_name) %}
                                        {% set request_parameters = app.request.query.all %}
                                        {% set trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': _entity_id } %}
                                        {% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
                                        {% set translation_domain = _entity_config.translation_domain %}
                                        {% set  item_id =  _entity_id %}
                                        {% set item = entity  %}
                                        {% for action in actions %}
                                            {% if app.request.get('action')!= action.name  %}
                                            
                                                {% if 'list' == action.name %}
                                                    {% set action_href = request_parameters.referer|default('') ? request_parameters.referer|easyadmin_urldecode : path('easyadmin', request_parameters|merge({ action: 'list' })) %}
                                                {% elseif 'method' == action.type %}
                                                    {% set action_href = path('easyadmin', request_parameters|merge({ action: action.name, id: item_id })) %}
                                                {% elseif 'route' == action.type %}
                                                    {% set action_href = path(action.name, request_parameters|merge({ action: action.name, id: item_id })) %}
                                                {% endif %}

                                                
                                                {% if 'list' == action.name %}
                                                
                                                    <li>
                                                        <a class="nav-link "id="v-pills-{{item_id}}{{action.title}}-tab"  title="{{ action.title|default('') is empty ? '' : action.title|trans(trans_parameters, translation_domain) }}" href="{{ action_href }}" target="{{ action.target }}">
                                                            {# seteo a mano los iconos#}
                                                            {% if _entity_config.name == "Plan" %}
                                                                {% set title_all= "list.button.plan"|trans(_trans_parameters) %}
                                                                {% set icon_all = 'icon_planes' %}
                                                            {% elseif _entity_config.name == "Client" %}
                                                                {% set title_all= "list.button.client"|trans(_trans_parameters) %}
                                                                {% set icon_all = 'icon_clientes' %}
                                                            {% elseif _entity_config.name == "User" %}
                                                                {% set title_all= "list.button.users"|trans(_trans_parameters) %}
                                                                {% set icon_all = 'icon_usuarios' %}
                                                            {% elseif _entity_config.name == "Provider" %}
                                                                {% set title_all= "list.button.provider"|trans(_trans_parameters) %}
                                                                {% set icon_all = 'icon_proveedores' %}
                                                            {% elseif _entity_config.name == "Order" %}
                                                                {% set title_all= "list.button.order"|trans(_trans_parameters) %}
                                                                {% set icon_all = 'icon_pedidos' %}
                                                            {# hay que agregar el de notificaciones caundo sea entidad #}
                                                            {% endif %}
                                                            
                                                            {%- if icon_all is defined %}
                                                                <i class=" fa-{{icon_all}}_off icon-form"></i>
                                                            {% endif -%}

                                                            <span class="link-new">
                                                                {% if title_all is defined %}
                                                                {{title_all}}
                                                                {% else %}
                                                                    {%- if action.label is defined and not action.label is empty -%}
                                                                        {{ action.label|trans(arguments = trans_parameters|merge({ '%entity_id%': item_id }), domain = translation_domain) }}
                                                                    {%- endif -%}
                                                                {% endif %}
                                                            </span>
                                                            
                                                            
                                                            
                                                        </a>
                                                    </li>
                                                
                                                {% else %}
                                                        
                                                    <li>
                                                        <a class="nav-link "id="v-pills-{{item_id}}{{action.title}}-tab"  title="{{ action.title|default('') is empty ? '' : action.title|trans(trans_parameters, translation_domain) }}" href="{{ action_href }}" target="{{ action.target }}">
                                                            {%- if action.label is defined and not action.label is empty -%}
                                                            {# iconos de delete y edit #}
                                                            {% if 'edit' == action.name %}
                                                                <i class="fa fa-fw fa-pencil"></i>
                                                            {% endif %}

                                                            {% if 'delete' == action.name %}
                                                                <i class="fa fa-fw fa-trash"></i>
                                                            {% endif %}
                                                            {{ action.label|trans(arguments = trans_parameters|merge({ '%entity_id%': item_id }), domain = translation_domain) }}
                                                            {%- endif -%}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </header>
                <div class="container-fluid relative animatedParent animateOnce">
                    <div class="tab-content" id="v-pills-tabContent">
                        <!--Today Tab Start-->
                        <div class="tab-pane animated fadeInUpShort show active" id="v-pills-1">
                        {# <div class="wrapper"> #}
                        {% block wrapper %}
                            <div class="content-wrapper">
                                {% block flash_messages %}
                                    {{ include(_entity_config is defined ? _entity_config.templates.flash_messages : '@EasyAdmin/default/flash_messages.html.twig') }}
                                {% endblock flash_messages %}

                                {% block content %}
                                    <div class="content container-fluid animatedParent animateOnce">
                                        <div class="card r-0 shadow">
                                        {% block content_header_wrapper %}
                                        {% set _has_content_help = _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
                                        <section class="content-header {{ _has_content_help ? 'has-content-help' }}">
                                            {% block content_header %}
                                                <div class="d-flex flex-row justify-content-between align-content-center w-100">
                                                    <div class="content-header-title">
                                                        <h1 class="title">{% block content_title %}{% endblock %}</h1>
                                                    </div>

                                                    {# {% block global_actions_wrapper %}
                                                        <div class="global-actions">{% block global_actions %}{% endblock %}</div>
                                                    {% endblock %} #}
                                                </div>

                                                {% block content_help %}
                                                    {% if _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
                                                        <div class="content-header-help">
                                                            {{ _entity_config[app.request.query.get('action')]['help']|trans(domain = _entity_config.translation_domain)|raw }}
                                                        </div>
                                                    {% endif %}
                                                {% endblock content_help %}
                                            {% endblock content_header %}
                                        </section>
                                        {% endblock content_header_wrapper %}

                                        <section id="main" class="content-body">
                                            {% block main %}{% endblock %}
                                        </section>

                                        {% block content_footer_wrapper %}
                                            <section class="content-footer">
                                                {% block content_footer %}{% endblock %}
                                            </section>
                                        {% endblock %}
                                        </div>
                                    </div>
                                {% endblock content %}
                            </div>
                        {% endblock wrapper %}
                        {# </div> #}
                        </div>
                    </div>
                    {# boton para agregar la entity (si esta permitido) #}
                    {# lo muestro en la vista de list entity #}
                    {% if app.request.get('action') == 'list' %}
                        {% if easyadmin_action_is_enabled_for_list_view('new', _entity_config.name) %}
                            {% set _action = easyadmin_get_action_for_list_view('new', _entity_config.name) %}
                            {# <li> #}
                                <a href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}" target="{{ _action.target }}"
                                    class="btn-fab fab-right fab-right-bottom-fixed shadow btn-icon-plus">
                                <i class="icon icon-plus"></i></a>
                            {# </li> #}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endblock wrapper_wrapper %}
        <div class="control-sidebar-bg shadow white fixed"></div>
        </div>
        {% block body_javascript %}{% endblock body_javascript %}

        {% block body_custom_javascript %}
            {% for js_asset in easyadmin_config('design.assets.js') %}
                <script src="{{ asset(js_asset) }}"></script>
            {% endfor %}
        {% endblock body_custom_javascript %}

    </body>
{% endblock body %}