{% extends '@!EasyAdmin/default/list.html.twig' %}

{% block new_action %}
    <li>
        <a class="nav-link" href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}" target="{{ _action.target }}">
            <div class="icon-new">
                <i class="s-24 icon-add_circle "></i>

            </div>
            <div class="link-new">
                {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
            </div>
        </a>
    </li>
{% endblock new_action %}