<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invitacion a piola</title>
</head>
<body>
    <h4>Invitación a Piola</h4>
    <div>
        Estimado usuario , se a registrado una cuenta con el presente mail.
        <br>
        La siguiente información es la necesaria para ingresar a dicha cuenta:
        <br>
        <strong>Email</strong>: {{entity.email}}
        <br>
        <strong>Contraseña:</strong>: {{password}}
        <br>
        Para ingresar a la cuenta ingrese en nuestra pagina: <a href="{{ link }}">{{ link }}</a>
    </div>
</body>
</html>