<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reestablecimiento</title>
</head>
<body>
    <h4>Recupero de Clave Piola</h4>
    <div>
        Estimado usuario , usted ha solicitado un cambio de contraseña con el presente mail.
        <br>
        Siga el link a continuación para cambiar su contraseña
        <br>
        <a href="{{ link }}">{{ link }}</a>
    </div>
</body>
</html>